@model IEnumerable<ConversationTracker.Models.ConversationTrackerObject>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Conversation Tracker Report</title>
</head>
<body class="container">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingOrEnvironment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Who)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateOfUnease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotesOfChangeOverTime)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingOrEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateOfUnease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesOfChangeOverTime)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
